.menu-main {
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  margin-top: 56px;
  width: 186px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: #f6f9fb;

  ul {
    padding: 24px 0 0 20.11px;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      i img {
        width: 16.09px;
      }

      span {
        height: 16px;
        margin-left: 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 0.02em;
        font-feature-settings: 'liga' off;
        color: #405175;
      }
    }

    .user {
      margin-bottom: 32px;
      .user-img {
        margin-left: 0px;
        width: 24.13px;
        height: 24px;
      }
    }

    .company-img {
      width: 24.13px;
      height: 24px;
      background: #ffc84a;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0px;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.02em;
      font-feature-settings: 'liga' off;
      color: #ffffff;
    }

    .active {
      position: relative;
      left: -8px;
      top: -8px;
      margin-bottom: 8px !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #2d70fd;
      border-radius: 4px;
      width: 161px;
      height: 32px;

      .active-text {
        display: flex;
        margin-left: 8px;

        span {
          color: #fff;
        }
      }

      .rectangle {
        margin-right: 8px;
        width: 5px;
        height: 5px;
        background: #ffffff;
        border-radius: 1.5px;
      }
    }

    .border {
      position: relative;
      left: -8px;
      top: -8px;
      margin-bottom: 8px;
      width: 161.87px;
      border: 1px solid #f6f9fb;
    }
  }

  .menu-bottom {
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }
}
