@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

html,
body,
ul,
ol {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

button,
input {
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

figure {
  margin: 0;
}
